body {
    color: white;
    margin: 100px;
    border: 3px solid #1C1C1C;
    padding: 100px;
    background: #1F2937;
    font-family: 'Karla', sans-serif;    
}

.btn{
    background-color: #10B981;
    padding: 9px 17px 9px 15px;
    color: wheat;
    border: none;
    border-radius: 5px;
}
.password-el{
    margin-top: 20px;
    color:#2F3E53;
    font-family: 'Courier New', Courier, monospace;
}
#nxt{
    color: #4ADF86
    ;
}
#line{
    background-color: #3C3C3C;
    padding : 7px 7px;
    
}